<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.vuespringpjt.work.mapper.WorkMapper"> 
    <select id="findAll"
            resultType="com.example.vuespringpjt.work.domain.WorkResponseDTO">
        SELECT
            ID, SUBJECT, CONTENT, COMPLETED
        FROM    
            ENCORE_WORK_TBL
        ORDER BY ID DESC 
    </select>
    <insert id="addWork"
            parameterType="com.example.vuespringpjt.work.domain.WorkRequestDTO">
        INSERT INTO ENCORE_WORK_TBL(SUBJECT, CONTENT, COMPLETED)
        VALUES(#{subject} , #{content} , #{completed})
    </insert>
    <delete id="deleteWork"
            parameterType="java.lang.Integer">
        DELETE FROM ENCORE_WORK_TBL
        WHERE 
            ID = #{id} 
    </delete>
    <select id="findWork"
            parameterType="java.lang.Integer"
            resultType="com.example.vuespringpjt.work.domain.WorkResponseDTO">
        SELECT
            ID, SUBJECT, CONTENT, COMPLETED
        FROM    
            ENCORE_WORK_TBL
        WHERE
            ID = #{id}
    </select>
    <update id="updateWork"
            parameterType="com.example.vuespringpjt.work.domain.WorkRequestDTO">
        UPDATE ENCORE_WORK_TBL
        SET 
            SUBJECT = #{subject}, 
            CONTENT = #{content},
            COMPLETED = #{completed} 
        WHERE 
            ID = #{id}
    </update>
</mapper>
